#header{
    background-color:#ffffff;
    width:100%;
    height:160px;
    margin-top:0px;
    border-bottom:4px solid orangered;
    
}
.sticker{
    background-color: #313f3d;
    width:38px;
    height:50px;
    margin-top:15px;
    float:left;
}
#introduction{
    width:400px;
    float:left;
    margin:-30px 150px 0px 20px;
    font-family:Arial, Geneva, Tahoma, sans-serif; 
    text-align:justify;
}
#introduction p{
    margin-top:-20px;
    font-family: Nunito, Helvetica, sans-serif;
    
}
#Intro{
    float:left;
}
#photo{
    margin-top:20px;
    float:left;
    width:120px;
    height:120px;
    background-image: url("ashutosh.jpg");
    background-color: red;
    border-radius: 60px;
    background-position: center;
    background-size: 100%;
    border:2px solid black;
}
#details{
    float:right;
}
.detailsalign{
    text-align:right;
    margin:10px;
}
#clear{
    clear:both;
}
#leftside{
    width:50%;
    float:left;
    background-color:white;
    height:1000px;

}
#rightside{
    width:50%
    float:right;
    background-color: yellow;
    height:1000px;


}
.detailsalign2{
    
    margin:5px -5px -5px 20px;
    font-size:16px;
}
#place{
    text-align:right;
}
#expericedetails{
    float:left;
}

    
    
    
   
